.page-header
    h1(ng-if='found && !loading')
      | # {{device.id}} {{name}} ({{device.device}})
      h1(ng-if='loading || !found') {{name}}
    .row(ng-if='found && !loading')
      h2(style="margin-left: 15px;") How to install
      .col-md-8
        div(ng-if='device.status !== 1')
          .panel.panel-default(ng-if='device.mdt')
            .panel-heading Install using MDT
            .panel-body
              p
                | Connect the device to the computer with the USB cable
              p
                | Ensure you have Git installed, and clone the repository to your local machine from GitHub
              pre.
                git clone https://github.com/MariusQuabeck/magic-device-tool.git
              p cd into the new directory
              pre.
                cd magic-device-tool
              p Run the script
              pre.
                sudo ./launcher.sh
              p Then follow the simple on-screen guide
            .panel-footer
              p.text-center(style='margin 0;')
                | magic-device-tool by Marius Quabeck: 
                a(href='https://github.com/MariusQuabeck/magic-device-tool')
                  | https://github.com/MariusQuabeck/magic-device-tool
          .panel.panel-default(ng-if='device.systemImage !== "false"')
            .panel-heading Install using system-image server
            .panel-body
              p
                | 1. Install the required tools:
              pre.
                sudo apt-get install ubuntu-device-flash phablet-tools
              p(ng-if='device.fastboot-buttons')
                | 2. Reboot your device into fastboot mode ({device.fastboot-buttons}) and Connect your device with an USB cable to your computer.
              p(ng-if='!device.fastboot-buttons')
                | 2. Reboot your device into fastboot mode and Connect your device with an USB cable to your computer.
              div(ng-if='device.adbRecovery !== ""')
                p
                  | 3. Download adb unlocked recovery:
                  a(ng-href="{{device.adbRecovery}}")  {{device.adbRecovery}}
                  pre
                   | wget {{device.adbRecovery}}
                p
                  | 4. Flash your device using this command: (
                  b NOTE! This will wipe your phone!
                  | )
                pre(ng-if='device.systemImage === ""')
                  | sudo ubuntu-device-flash --server=http://system-image.ubports.com touch --device={{device.device}} \
                  | --channel=ubports-touch/legacy --bootstrap --recovery-image={{device.adbRecovery.split("/")[device.adbRecovery.split("/").length - 1]}}
                pre(ng-if='device.systemImage !== ""')
                  | sudo ubuntu-device-flash --server=http://system-image.ubports.com touch --device={{device.device}} \
                  | --channel={{device.systemImage}} --bootstrap --recovery-image={{device.adbRecovery.split("/")[device.adbRecovery.split("/").length - 1]}}
              div(ng-if='device.adbRecovery === ""')
                p
                  | 3. Flash your device using this command: (
                  b NOTE! This will wipe your phone!
                  | )
                  pre(ng-if='device.systemImage === ""')
                    | sudo ubuntu-device-flash --server=http://system-image.ubports.com touch --device={{device.device}} \
                    | --channel=ubports-touch/legacy --bootstrap
                  pre(ng-if='device.systemImage !== ""')
                    | sudo ubuntu-device-flash --server=http://system-image.ubports.com touch --device={{device.device}} \
                    | --channel={{device.systemImage}} --bootstrap
          .panel.panel-default(ng-if='device.multirom')
            .panel-heading Install using Multirom
            .panel-body
              | See the wiki:
              a(href='{{device.wiki}}') {{device.wiki}}
        .panel.panel-default(ng-if='device.comment !== "" && device.comment')
          .panel-heading Install
          .panel-body
            p {{device.comment}}
      .col-md-4
        .panel.panel-default(ng-if="device.whatIsWorking != '{}'")
          .panel-heading What&apos;s working
          ul.list-group
            div(ng-repeat='value in toObj(device.whatIsWorking) | orderBy')
              li.list-group-item.list-group-item-success(ng-if='getValue(value) == 2', style="background-color: #dff0d8; color: gray; font-size: 12px;") {{getKey(value)}}
              li.list-group-item.list-group-item-danger(ng-if='getValue(value) != 2', style="background-color: #ebcccc; color: gray; font-size: 12px;") {{getKey(value)}}
        .panel.panel-default(ng-if="device.about !== '{}'")
          .panel-heading About Device
          table.table
            tr(ng-repeat='(key, value) in toObj(device.about)')
              td {{getKey(value)}}
              td {{getValue(value)}}
        .panel.panel-default
          .panel-heading
            h3.panel-title Donations
          .panel-body
            div(style='margin: 0px;', ng-if='device.status === 1')
              h4 Goal:
              p
                | Donation to debug device: (note, this is not realtime) (current only paypal)
                .progress(style='margin: 0px;')
                  .progress-bar(role='progressbar', aria-valuenow='{{device.donates}}', aria-valuemin='0', aria-valuemax='{{device.price}}', style='width: {{device.donates/device.price*100}}%; color: black; margin: 0px;') {{device.donates/device.price*100}}%
              p.pull-right {{device.donates/device.price*100}}% towards the goal of ${{device.price}}
              br
            br
            div(style='display: inline;')
              .pull-right.btn-group
                button.btn(type='button', ng-click="setPaymethod('paypal');", class="{{paymethod('paypal', 'btn')}}")
                  span.fa.fa-paypal
                button.btn(type='button', ng-click="setPaymethod('bitcoin');", class="{{paymethod('bitcoin', 'btn')}}")
                  span.fa.fa-bitcoin
                button.btn(type='button', ng-click="setPaymethod('mobile');", ng-if='device.status === 1', class="{{paymethod('mobile', 'btn')}}")
                  span.fa.fa-mobile
            h4 {{pay}}
            hr
            div(ng-if="paymethod('paypals', 'bool')")
              button.btn.btn-primary.btn-pay(ng-click='$parent.payAmout = 5') {{5 | currency}}
              button.btn.btn-primary.btn-pay(ng-click='$parent.payAmout = 10') {{10 | currency}}
              button.btn.btn-primary.btn-pay(ng-click='$parent.payAmout = 20') {{20 | currency}}
              button.btn.btn-primary.btn-pay(ng-click='$parent.payAmout = 50') {{50 | currency}}
              button.btn.btn-primary.btn-pay(ng-click='$parent.payAmout = 0') Other
            div(ng-if="paymethod('bitcoins', 'bool')")
              button.btn.btn-primary.btn-pay(ng-click='$parent.payAmout = 0.1') 0.1 BTC
              button.btn.btn-primary.btn-pay(ng-click='$parent.payAmout = 0.5') 0.5 BTC
              button.btn.btn-primary.btn-pay(ng-click='$parent.payAmout = 1') 1 BTC
              button.btn.btn-primary.btn-pay(ng-click='$parent.payAmout = 2') 2 BTC
              button.btn.btn-primary.btn-pay(ng-click='$parent.payAmout = 0') Other
            form.form-inline(ng-if="paymethod('paypal', 'bool')", action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
              br
              .form-group
                label(style='margin-right: 5px;') Your Donation:
              .input-group(style='width: 100%;')
                .input-group-addon
                  span.fa(class="{{paymethod('', 'fa')}}")
                input.form-control(type='number', placeholder='Amount', ng-model='payAmout')
              input(type='hidden', name='cmd', value='_donations')
              input(type='hidden', name='business', value='paypal@ubports.com')
              input(type='hidden', name='lc', value='BT')
              input(type='hidden', name='item_name', value='UBports | {{device.device}}')
              input(type='hidden', name='amount', value='{{payAmout | number}}')
              input(type='hidden', name='currency_code', value='USD')
              input(type='hidden', name='no_note', value='0')
              input(type='hidden', name='bn', value='PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest')
              div.text-center(style="margin-top: 7px;")
                button.btn.btn-primary.text-center(border='0', name='submit', alt='PayPal - The safer, easier way to pay online!') Donate
            div(style='text-align: center;', ng-if="paymethod('bitcoin', 'bool')")
              p Bitcoin Address:
              pre.
                1DpvghKwhrwZyyCyWMQ2tnLaV3yEznFndB
            hr
            .jumbotron
              h2 Monthly supporter
              p If you enjoyed the ride so far, please consider becoming a monthly supporter
              a.btn.btn-primary.btn-lg(href='http://www.patreon.com/ubports') Become a Patron
    .row(ng-if='!found && !loading')
      h2 Device {{name}} not found!
    .row(ng-if='loading', align='center', style='text-align: center;')
      span.fa.fa-refresh.fa-spin.fa-4x
